@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: -1%;
    }
    100% {
        opacity: 1;
        margin-top: 0%;
    }
}

.animate {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

body {
    background: #fff;
    color: #7c80b1;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.6em;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #4d5aff;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.site {
    height: inherit;
}

.auth-page {
    background-image: url("../images/bg1.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auth-area {
    max-width: 450px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

.auth-area .logo {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
}

.tagline {
    color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    margin-top: 20px;
}

.button {
    background: #fff;
    color: #7c80b1;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background: #efefef;
    transform: scale(1.02);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
}

.button span.icon {
    padding-right: 15px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.primary-button {
    background: #4d5aff;
    color: #fff;
}

.primary-button:hover {
    background: #3945e2;
}

.primary-button span.icon {
    border-right-color: rgba(255, 255, 255, 0.5);
}


/*
 * Chat Area
 */

.chat-area {
    height: inherit;
}

.chat-header {
    background: #141a2e;
    color: #fff;
    text-align: center;
}

.chat-header a {
    color: #d9deea;
    display: inline-block;
    padding: 10px;
}

.chat-header .toggle-channels {
    float: left;
    padding: 10px 15px;
}

.chat-header .logo {
    font-size: 16px;
}

.chat-header .account-tab {
    float: right;
    position: relative;
}

.chat-header .account-tab img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.chat-header .toggle-account-dropdown span {
    position: relative;
    display: inline;
    top: -5px;
    left: 5px;
    color: #d9deea;
}

.chat-header .account-tab:hover .account-dropdown {
    display: block;
}

.chat-header .account-dropdown {
    position: absolute;
    top: 92%;
    right: 20%;
    min-width: 150px;
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.chat-header .account-dropdown a {
    display: block;
    text-align: left;
    color: #555;
    border-bottom: solid 1px #ddd;
}

.chat-header .account-dropdown a:hover {
    background: #fafafa;
}


/*
 * Channels
 */

.chat-container {
    position: relative;
    height: 100%;
}

.channel-area {
    background: #1e2539;
    max-width: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.channel-area .channels a {
    display: block;
    color: #606ea1;
    text-align: right;
    padding: 10px 15px;
}

.channel-area .channels a:hover, .channel-area .channels a.active {
    background: #242a45;
}

.channel-area .channels a span {
    display: inline-block;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 6px;
    border-radius: 2px;
}


/*
 * Sidebar Header
 */

.sidebar-header {
    color: #fff;
    padding: 6px 10px;
    display: block;
    background: #364263;
}

.sidebar-header span {
    float: right;
    font-weight: bold;
}


/*
 * Channel Form
 */

.toggle-channel-form {
    background: #2b3552;
    text-align: right;
}

.toggle-channel-form span {
    float: left;
    margin-top: 5px;
    font-weight: normal;
}

.channel-area .channel-form {
    background: #141a2e;
    padding: 15px;
}

.channel-area .channel-form input[type=text] {
    width: 100%;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 6px 12px;
    font-size: 12px;
}

.channel-area .channel-form input[type=color] {
    background: transparent;
    border-radius: 2px;
    border: none;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
}

.channel-area .channel-form button {
    float: right;
    margin-top: 2px;
    background: #4d5aff;
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    color: #fff;
    transition: all 0.5s ease-in-out;
    font-size: 12px;
}

.channel-area .channel-form button:hover {
    background: #3945e2;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}


/*
 * Member Area
 */

.member-area {
    background: #242a45;
    left: 15%;
    max-width: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.member-area .members a {
    display: block;
    color: #606ea1;
    text-align: right;
    padding: 10px 15px;
    border-bottom: solid 1px #1e2539;
}

.member-area .members a:hover {
    background: #1e2539;
}

.member-area .members a img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
}
